/* Common rules */

*{margin: 0;padding: 0;box-sizing: border-box;}
img {
    max-width: 100%;
}
:root{
    --bz-gray-dark: #dadad2;
    --bz-primary-dark: #009789;
    --bz-primary: #d5f8bb;
    --bz-light: #ffffff;
    --bz-secondary: #8edbfd;
    --bz-gray: #eaebeb;
}

/*  Background */
.backgroud{
    height: 100vh;
}
.backgroud_up {
    background-color: var(--bz-primary-dark);
    height: 15%;
}
.backgroud_bottom {
    background-color: var(--bz-gray-dark);
    height: 85%;
}

